<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h3> 
    Midsize SUVs
  </h3>
  <img src="assets/GeneralSuv.jpg" alt="General Suvs" style="width:750px;height:400px;">
</div>
<div style="text-align:center">
  <h2>Find the right SUV for your family</h2>
    <ul>
      <li>
        <h3><a target="_blank" rel="noopener" href="https://toyota.com">Toyota SUVs</a></h3>
      </li>
      <li>
        <h3><a target="_blank" rel="noopener" href="https://chevrolet.com">Chevy SUVs</a></h3>
      </li>
      <li>
        <h3><a target="_blank" rel="noopener" href="https://ford.com">Ford SUVs</a></h3>
      </li>
    </ul>
</div>

